<div  align='center'><img src='https://s3.amazonaws.com/weclouddata/images/logos/wcd_logo_new_2.png' width='30%'></div >

<p style="font-size:20px;text-align:center"><b><font color='#F39A54'>Data Engineering Diploma</font></b></p>

<h2 align='center'> WeCloudData Data Engineer Spark Exercise 2 </h2>

<br>

Please download data from [HERE](s3://weclouddata/data/data/pyspark_exercises_data.zip)

# Section 4. Search and Filter DataFrames in PySpark
Now it's time to put what you've learn into action with a homework assignment!


### First set up your Spark Session!
Alright so first things first, let's start up our pyspark instance.

## Read in the DataFrame for this Notebook

We will use the `fifa19.csv` file for this notebook. Make sure that you are writting the correct path to the file.

## About this dataframe

The **fifa19.csv** dataset includes a list of all the FIFA 2019 players and their attributes listed below: 

 - **General**: Age, Nationality, Overall, Potential, Club
 - **Metrics:** Value, Wage
 - **Player Descriptive:** Preferred Foot, International Reputation, Weak Foot, Skill Moves, Work Rate, Position, Jersey Number, Joined, Loaned From, Contract Valid Until, Height, Weight
 - **Possition:** LS, ST, RS, LW, LF, CF, RF, RW, LAM, CAM, RAM, LM, LCM, CM, RCM, RM, LWB, LDM, CDM, RDM, RWB, LB, LCB, CB, RCB, RB, 
 - **Other:** Crossing, Finishing, Heading, Accuracy, ShortPassing, Volleys, Dribbling, Curve, FKAccuracy, LongPassing, BallControl, Acceleration, SprintSpeed, Agility, Reactions, Balance, ShotPower, Jumping, Stamina, Strength, LongShots, Aggression, Interceptions, Positioning, Vision, Penalties, Composure, Marking, StandingTackle, SlidingTackle, GKDiving, GKHandling, GKKicking, GKPositioning, GKReflexes, and Release Clause.

**Source:** `fifa19.csv`

Use the .toPandas() method to view the first few lines of the dataset so we know what we are working with.

Now print the schema of the dataset so we can see the data types of all the varaibles.

## S4.1. Select the Name and Position of each player in the dataframe

## S4.1.1 Display the same results from above sorted by the players names

## S4.2. Select only the players who belong to a club beginning with FC

## S4.3. Who is the oldest player in the dataset and how old are they?

Display only the name and age of the oldest player.

## S4.4. Select only the following players from the dataframe:

 - L. Messi
 - Cristiano Ronaldo

## S4.5. Can you select the first character from the Release Clause variable which indicates the currency used?

## S4.6. Can you select only the players who are over the age of 40?

# Section 5. Joining and Appending DataFrames in PySpark
Now it's time to test your knowledge and further engrain the concepts we touched on in the lectures. Let's go ahead and get started.




**As always let's start our Spark instance.**

### Read in the database

Let's read in the whole database using the loop function that we learned about in the lecture to automatically read in all the datasets from the uw-madision-courses folder (there are too many datasets to each one individually.

Now check the contents of a few of the dataframses that were read in above.

### Recap: About this database

You will notice that there are several more tables in the `uw-madison-courses` folder than there are read in above. This so that you will have a chance to practice your own custom joins and learn about the relationships between a real database work. 

Here is a look at some of the important variables we can use to join our tables:

 - course_offerings: uuid, course_uuid, term_code, name
 - instructors: id, name
 - schedules: uuid
 - sections: uuid, course_offering_uuid,room_uuid, schedule_uuid
 - teachings: instructor_id, section_uuid
 - courses: uuid
 - grade_distributions: course_offering_uuid,section_number
 - rooms: uuid, facility_code, room_code
 - subjects: code
 - subject_memberships: subject_code, course_offering_uuid
 
 **Source:** `uw-madison-courses`
 
So alright, let's use this information to discover some insights from this data!

## S5.1.0. Can you assign the room numbers to each section of each course?

Show only the rooms uuid, facility code, room number, term code and the name of the course from the course_offerings table.

## S5.1.1. Now show same output as above but for only facility number 0469 (facility_code)

## S5.2. Count how many sections are offered for each subject for each facility

*Note: this will involve a groupby*

## S5.3. What are the hardest classes?

Let's see if we can figure out which classes are the hardest by seeing how many students failed. Note that you will first need to aggregate the grades table by the course uuid to include all sections. Show the name of the course as well that you will need to get from the course_offering table.

## Challenge Question: Automating data entry errors

We see in the dataframe below that there are several typos of various animal names. If this was a large database of several millions of records, correcting these errors would be way too labor intensive. How can we automate correcting these errors?

*Hint: Leven...*

In [0]:
values = [('Monkey',10),('Monkay',36),('Mnky',123), \
          ('Elephant',48),('Elefant',16),('Ellafant',1), \
          ('Hippopotamus',48),('Hipopotamus',16),('Hippo',1)]
zoo = spark.createDataFrame(values,['Animal','age'])
zoo.show()

# Section 6. Aggregating DataFrames in PySpark
First let's start up our PySpark instance

## Read in the dataFrame for this Notebook

## About this dataset

This dataset describes the listing activity and metrics for Air BNB bookers in NYC, NY for 2019. Each line in the dataset is a booking. 

**Source:** `nyc_air_bnb.csv`

Let's go ahead and view the first few records of the dataset so we know what we are working with.

Now print the schema so we can make sure all the variables have the correct types

Notice here that some of the columns that are obviously numeric have been incorrectly identified as "strings". Let's edit that. Otherwise we cannot aggregate any of the numeric columns.

### Alright now we are ready to dig in!


## S6.1. How many rows are in this dataset?

## S6.2. How many total reviews does each host have?

## S6.3. Show the min and max of all the numeric variables in the dataset

## S6.4. Which host had the highest number of reviews?

Only display the top result.

Bonus: format the column names

## S6.5. On average, how many nights did most hosts specify for a minimum?

## S6.6. What is the most expensive neighbourhood to stay in on average?

Note: only show the one result

## S6.7. Display a two by two table that shows the average prices by room type (private and shared only) and neighborhood group (Manhattan and Brooklyn only)

# Section 7. SQL Options in Spark
Alirght let's apply what we learned in the lecture to a new dataset!

**But first!**

Let's start with Spark SQL. But first we need to create a Spark Session!

### Read in our DataFrame for this Notebook

For this notebook we will be using the Google Play Store csv file attached to this lecture. Let's go ahead and read it in. 

### About this dataset

Contains a list of Google Play Store Apps and info about the apps like the category, rating, reviews, size, etc. 

**Source:** `googleplaystore.csv`

## First things first

Let's check out the first few lines of the dataframe to see what we are working with

As well as the schema to make sure all the column types were correctly inferred

Looks like we need to edit some of the datatypes. We need to update Rating, Reviews and Price as integer (float for Rating) values for now, since the Size and Installs variables will need a bit more cleaning. Since we haven't been over this yet, I'm going to provide the code for you here so you can get a quick look at how it used (and how often we need it!).

**make sure to change the df name to whatever you named your df**

In [0]:
from pyspark.sql.types import IntegerType, FloatType
newdf = df.withColumn("Rating", df["Rating"].cast(FloatType())) \
            .withColumn("Reviews", df["Reviews"].cast(IntegerType())) \
            .withColumn("Price", df["Price"].cast(IntegerType()))
print(newdf.printSchema())
newdf.limit(5).toPandas()

## S7.1. Create Tempview

Go ahead and create a tempview of the dataframe so we can work with it in spark sql.

## S7.2. Select all apps with ratings above 4.1

Use your tempview to select all apps with ratings above 4.1

## S7.3. Now pass your results to an object (ie create a spark dataframe)

Select just the App and Rating column where the Category is in the Comic category and the Rating is above 4.5.

## S7.4. Which category has the most cumulative reviews

Only select the one category with the most reivews. 

*Note: will require adding all the review together for each category*

## S7.5. Which App has the most reviews?

Display ONLY the top result

Include only the App column and the Reviews column.

## S7.6. Select all apps that contain the word 'dating' anywhere in the title

*Note: we did not cover this in the lecture. You'll have to use your SQL knowledge :) Google it if you need to.*

## S7.7. Use SQL Transformer to display how many free apps there are in this list

## S7.8. What is the most popular Genre?

Which genre appears most often in the dataframe. Show only the top result.

## S7.9. Select all the apps in the 'Tools' genre that have more than 100 reviews

### That's it! Great Job!